<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SGSV.Properties.Settings.ConnectionString" connectionString="Data Source=PABLO-PC\SQLSERVER2008;Initial Catalog=SGSV_DEV;Persist Security Info=True;User ID=Boaglio;Password=pablo1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>