<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SGSV.Properties.Settings.ConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=SGSV_DEV;Persist Security Info=True;User ID=sa;Password=sgsv08"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>